# NetBird Dashboard - Customer {{ customer_id }}
NETBIRD_MGMT_API_ENDPOINT={{ external_url }}
NETBIRD_MGMT_GRPC_API_ENDPOINT={{ external_url }}
AUTH_AUTHORITY={{ external_url }}/oauth2
AUTH_CLIENT_ID=netbird-dashboard
AUTH_AUDIENCE=netbird-dashboard
AUTH_SUPPORTED_SCOPES=openid profile email groups offline_access
AUTH_REDIRECT_URI=/nb-auth
AUTH_SILENT_REDIRECT_URI=/nb-silent-auth
USE_AUTH0=false
NETBIRD_TOKEN_SOURCE=accessToken
LETSENCRYPT_DOMAIN=none
NGINX_SSL_PORT=443
