{
  "Stuns": [
    {
      "Proto": "udp",
      "URI": "stun:{{ netbird_domain }}:{{ relay_udp_port }}",
      "Username": "",
      "Password": null
    }
  ],
  "TURNConfig": {
    "Turns": [
      {
        "Proto": "udp",
        "URI": "turn:{{ netbird_domain }}:{{ relay_udp_port }}",
        "Username": "netbird",
        "Password": "{{ relay_secret }}"
      }
    ],
    "CredentialsTTL": "12h",
    "Secret": "{{ relay_secret }}",
    "TimeBasedCredentials": false
  },
  "Relay": {
    "Addresses": [
      "{{ relay_ws_protocol }}://{{ netbird_domain }}:{{ netbird_port }}"
    ],
    "CredentialsTTL": "24h",
    "Secret": "{{ relay_secret }}"
  },
  "Signal": {
    "Proto": "{{ netbird_protocol }}",
    "URI": "{{ netbird_domain }}:{{ netbird_port }}",
    "Username": "",
    "Password": null
  },
  "HttpConfig": {
    "AuthIssuer": "{{ external_url }}/oauth2",
    "AuthAudience": "netbird-dashboard",
    "OIDCConfigEndpoint": "http://127.0.0.1:80/oauth2/.well-known/openid-configuration"
  },
  "EmbeddedIdP": {
    "Enabled": true,
    "Issuer": "{{ external_url }}/oauth2",
    "LocalAddress": "http://127.0.0.1:80",
    "DashboardRedirectURIs": [
      "{{ external_url }}/nb-auth",
      "{{ external_url }}/nb-silent-auth"
    ],
    "CLIRedirectURIs": [
      "http://localhost:53000/",
      "http://localhost:54000/"
    ],
    "SignKeyRefreshEnabled": true
  },
  "DataStoreEncryptionKey": "{{ datastore_encryption_key }}"
}
