# NetBird Relay Environment - Customer {{ customer_id }}
# {{ subdomain }}.{{ base_domain }}
NB_AUTH_SECRET={{ relay_secret }}
NB_LISTEN_ADDRESS=:80
NB_EXPOSED_ADDRESS={{ relay_ws_protocol }}://{{ subdomain }}.{{ base_domain }}:{{ netbird_port }}
NB_ENABLE_STUN=true
NB_STUN_PORTS=3478
